# Prerequisites
*.d
*.tlog
*.db
*.vsidx
*.suo
*.json
*.opendb
*FileListAbsolute.txt
*.exe.recipe
*vc143.pdb
*.log
*.db-shm
*.db-wal
*.ilk
*.idb
*.iobj
*.ipdb
*.ipch
*.pdb
*.vcxproj.filters
*.vcxproj.user
*.bin

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a